.pro_nb.breadcrumb .breadcrumb-item {
  font-weight: 600; }
  .pro_nb.breadcrumb .breadcrumb-item + .breadcrumb-item:before {
    content: '>'; }
  .pro_nb.breadcrumb .breadcrumb-item a {
    color: #000; }

.over_hid {
  overflow: hidden; }
  .over_hid img {
    transition: all 1s; }
    .over_hid img:hover {
      transform: scale(1.1); }

.pro_sm_img li {
  width: 5.25rem;
  height: 5.25rem;
  background: #fff; }
  .pro_sm_img li img {
    transition: all 1s; }
    .pro_sm_img li img:hover {
      transform: scale(0.9); }
  .pro_sm_img li:hover {
    border: 1px solid #ccc; }

.f34 {
  font-size: 2.13rem; }

.text_normal {
  font-size: 0.937rem; }

.specifica {
  width: 90%; }

.btn-outline-primary {
  border-radius: 0;
  border: 1px solid #666666;
  color: #666666; }
  .btn-outline-primary:hover {
    color: #0aa1ed;
    background: transparent;
    border-color: #0aa1ed; }

.delt_active {
  border: 2px solid #0aa1ed !important; }

.px_12 {
  padding-left: 12px;
  padding-right: 12px; }

.pro_count button {
  cursor: pointer; }

.pro_count input {
  width: 2.6rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.shops {
  height: 3.25rem; }
  .shops button.btn {
    border-radius: 2px; }
  .shops button:first-child {
    border-color: #e0e0e0;
    color: #0aa1ed; }
    .shops button:first-childhover {
      background: #bbb; }
  .shops button:nth-child(2).btn-primary {
    background: -webkit-linear-gradient(top, #27b0f6 0%, #0aa1ed 100%);
    border-color: #0aa1ed; }
  .shops a {
    height: 100%;
    width: 3.5rem;
    text-align: center;
    background: #0aa1ed !important; }
    .shops a span {
      color: white; }
    .shops a img {
      margin: 0 auto; }

.recommand .re_label {
  background: #000;
  color: #fff; }

.recommand .carousel_media {
  border: 1px solid #ccc;
  overflow: hidden; }
  .recommand .carousel_media ul > li {
    width: 240px;
    height: 180px; }
    .recommand .carousel_media ul > li .card {
      height: 100%; }
      .recommand .carousel_media ul > li .card .card-body {
        height: 100%; }
      .recommand .carousel_media ul > li .card .card-footer {
        height: 50%; }

.detail_title a {
  color: #000;
  text-decoration: none; }

.dt_active {
  border-bottom: 3px solid #0aa1ed; }

.detailss ul > li {
  width: 30%;
  display: inline-block; }

.detailss.jumbotron {
  background: transparent; }
