body{
  font-family: "Arial","Hiragino Sans GB", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";
}
.top_bread .breadcrumb .breadcrumb-item+.breadcrumb-item:before{
  content:">";
}
//设置头部价格字体
.text_price28{
  font-size:28px;
}

//课程顶部的上半部分
.course_right_info{
  min-height:193px;
}

// 设置头部右侧的分享和收藏两个按钮
.course_top_share{
  display: flex;
  height:28px;
  background:#fff;
  overflow: hidden;
  a{
    display: inline-block;
    width: 48px;
    height: 28px;
    background: url(../../img/course/introduction/courseTitle.png) no-repeat;
    &:first-child{
      background-position:-3px -58px;
    }
    &:nth-child(2){
      background-position:-50px -3px;
    }
    &:first-child:hover{
      background-position:-3px -3px;
    }
    &:nth-child(2):hover{
      background-position:-50px -58px;
    }
  }
}


// 页面二:目录
// 连载
.continued{
  background: #ff6000;
  color: white;
  height: 20px;
  padding: 0 3px;
  font-size: 14px;
  border-radius: 3px;
}
// 目录页面课程列表的每一条
.contain .videoimg span{
  display: inline-block;
  width: 13px;
  height: 15px;
  margin-right: 10px;
  background:url(../../img/course/introduction/listIcons.png);
  background-position: -24px -182px;
}
//设置课程列表ul标签的样式
ul.contain{
  li{
    padding: 5px 0;
    &:after{//清除浮动
      content:"";
      display: block;
      clear:both;
    }
  }
}
.course_bottom_info .btn{
  border-radius: 0;
  padding-right: 40px;
  padding-left: 40px;
}

// 设置头部按钮
.btn-origin{
  background: #ff8000;
  color: white;
}
.btn-origin:hover{
  background: #e07000;
}

// 笔记页面的学员评价
.pingjia .media{
  position: relative;
  img{
    width: 49px;
  }
  .media-item{
    position: absolute;
    left: -64;
    margin-left: 64px;
  }
}

// 讨论区
.discussion{
  .discussion-item{
    .discuss-img{
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
}

//复写样式
.courseNav .nav-pills .nav-link{
  padding: 0 0.5rem;
  color: #000;
}
.courseNav ul.nav-pills{
  height: 36px;
  background: #fafafa;
  border: 1px solid #eaeaea;
}
.courseNav ul.nav-pills li{
  margin-top: 7px;
  text-align: center;
  font-size: 14px;
}
.courseNav .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  color: white;
  background: #000;
}
.courseNav ul>li+li{
  margin-left: 25px;
}

// 课程详细内容的样式
.boxshadow{
  box-shadow: 0 1px 7px -6px #000;
}

// 咨询栏目的媒体图片样式
.zx_media_img{
  width: 36px;
  height: 36px;
  margin-right: 12px;
}
.userItem_img{
  width: 32px;
  height: 32px;
  cursor: pointer;
}

// 用户评价的查看更多
.find_more a{
  color:#666;
}
.find_more:hover{
  background: rgb(236, 236, 236);

}