// 设置默认变量值
// 颜色值
$indexcolor : #49af4f;


// 用户个人中心的设置页面样式
.userIndexSet{
  padding-top: 60px;
  box-shadow: 0 0 ;
  .nav-pills .nav-link{
    color: #000;
    font-weight: 600;
    padding-left: 25px;
    padding-right: 25px;
  }
  .nav-pills .nav-link.active{
    border-radius: 0;
    background: $indexcolor;
    color: #fff;
  }
  // 导航页面的四个个页面的样式
  #t1>p,#t2>p,#t3>p,#t4>p{
    line-height: 50px;
    // 字体颜色
    color:#ccc;
  }
  #t1,#t2,#t3,#t4{
    min-height: 600px;
  }
}
.boxshadow{
  box-shadow:0px 1px 2px #bbb;
}


// 用户info基本信息样式
.userInfo{
  .userInfo_img{
    width: 120px;
    height: 120px;
    background: #ccc;
  }
  p.pstyle{
    line-height: 25px !important;
    font-size: 12px;
    padding-right: 0 !important;
  }
} 

//用户信息提示图
.msgImg{
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../../img/user/common/msg.png) no-repeat;
  background-position: -18px 1px;
  vertical-align: middle;
}

// 用户信息的超链接样式垂直居中
.user_info_alink_mt{
  margin-top: 3px;
}

// 用户信息
.userInfoFooter{
  height: 84px;
  padding: 20px 0 0 108px;
  border-top: 1px solid #eaeaea;
  background-color: #fafafa;
  button.btn{
    border-radius: 0;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 2px 2px 2px 0px #bbb;
  }
}

// 设置第四板块的按钮样式
#t4 .userInfoFooter{
  height: 50px;
  padding: 0;
  border: 0;
  background-color: #fff;
}