// 用户个人主页面的样式表

// user类是当前页面的中间部分
.user{
  width: 100%;
  height: auto;
  padding-top: 60px;
}
.user .headPortrait{
  width: 100%;
  height: 200px;
  background: url(../../img/user/common/user_index_topback.png) no-repeat;
  &:before{
    content: '';
    display: table;
  }
  .userInfo{
    width: 88px;
    height: 88px;
    margin: 30px auto;
    font-weight: 400;
    img{
      width: 100%;
      border-radius: 50%;
      border: 4px solid rgba(236, 236, 236, 0.6);
    }
    p{
      color: white;
      font-size: 22px;
      margin-top: 5px;
      margin-bottom: 0px;
    }
    a{
      color: white;
      text-decoration: none;
      font-size: 14px;
    }
  }
}
.user .user_bg_img2{// 第二个大图
  width: 1205px;
  height: 400px;
  margin: 50px auto 100px;
  background: url(../../img/user/common/user_bg_img2.png) no-repeat;
}